.favorites {
    box-sizing: border-box;
    border: 1px solid rgba(0, 8, 7);
    padding: 30px 20px;
}

.favorites__name {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 8, 7, .5);
    margin-bottom: 24px;
}

.favorites__name:focus {
    border-color: rgb(8, 119, 247);
    box-shadow: 2px 4px 20px 1px rgb(45 45 45 / 13%);
}

.favorites__list {
    margin-bottom: 24px;
}

.favorites__save {
    border: none;
    background-color: #496DDB;
    padding: 10px 15px;
    color: #FFEEDB;
    font-size: 14px;
    transition: all 0.2s linear;
}

.favorites__save:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s linear;
}

.favorites__save:disabled {
    background-color: #496ddb78;
    cursor: not-allowed;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.list-btn {
    cursor: pointer;
    padding: 2px 15px;
    background-color: #496DDB;
    border: none;
    border-radius: 4px;
    color: #FFEEDB;
    transition: ease-in .2s all;
    font-size: 18px;
}

.list-btn:hover {
    transition: ease-in .2s all;
    background-color: blueviolet;
}