.header {
    position: sticky;
    top: 0;
    padding: 15px calc(50% - 500px);
    background-color: #060f19;
    font-size: 20px;
    color: #fff;
    z-index: 100;
}

.header,
ul.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    cursor: pointer;
    font-family: 'Luckiest Guy', cursive;
    color: #FFEEDB;
    font-size: 35px;
    transition: all .3s ease-out;
    position: relative;
}

.proggresBar {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45%;
    height: 4px;
    background-color: #13be13;
    transition: .3s ease-in;

}

.header__title:hover .proggresBar {
    width: 100%;
    transition: .4s ease-in;
}

ul.list li {
    cursor: pointer;
    margin-right: 50px;
    font-weight: bold;
    transition: ease .3s;
}

ul.list li:hover {
    color: #13be13;
    transition: ease .3s;
}

ul.list li:last-child {
    margin-right: 0px;
}

.nav-search {
    position: fixed;
    top: -100vh;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #0b1a2bfe;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in;
}

.search-form {
    display: flex;
    align-items: flex-end;
    width: 55%;
}

.search-label,
.search_input {
    display: block;
    width: 100%;
}

.search_input {
    padding: 10px 20px;
    margin-top: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 18px;
    color: #060f19;
}

.search_input:focus {
    border-color: blueviolet;
    box-shadow: 2px 4px 20px 1px rgba(2, 2, 2, 0.859);
}

.search-box__form-submit {
    width: 100px;
    height: 47px;
    border: none;
    transition: all 0.2s linear;
    color: #FFEEDB;
    background-color: #ff0000;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


.search-box__form-submit:hover:not(:disabled) {
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.2s linear;
    background-color: #FFEEDB;
    color: rgba(0, 8, 7);
}

.search-box__form-submit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.loading {
    margin-top: 18px;
    margin-left: 30px;
}

.close-search{
    position: absolute;
    top: 40px;
    right: 100px;
}

@media screen and (max-width:1120px) {
    .header {
        padding: 15px 20px;
    }
}

@media screen and (max-width:490px) {
    .header__title {
        font-size: 25px;
    }

    ul.list li {
        font-size: 17px;
        margin-right: 25px;
    }
}